#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define SERVER_HOST ""
#define SERVER_PORT 8000

// This is the IP address of the server running a rabbitMQ broker.
// This shouldn't be changed unless you have a separate server running the broker.
#define MQTT_HOST "188.245.100.143"
#define MQTT_USERNAME "h5"
#define MQTT_PASSWORD "Merc1234"

#endif
